#header {
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 270px;
    padding: 0 4%;

}

.about img {
    width: 120px;
}

#header ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

#header li {
    margin-left: 30px;
    font-size: 14.4px;
    
}

#header li a {
    color: #24292e;
    text-decoration: none;
}

.icon {
    box-sizing: content-box;
    width: 20px;
}

#mainvisual img {
    max-width: 1920px;
    box-sizing: content-box;
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto 130px auto;
    padding: 0 4%;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    max-width: 960px;
    padding: 40px 0;
    font-size: 24px;
}

#about ul {
    padding-left: 0;
    margin: 30px 0; 
    text-align: left;
}

#about li {
    list-style: none;
    font-size: 14.4px;
}

#about li:first-child {
    margin-bottom: 30px;
}

#about p {
    font-size: 14.4px;
    text-align: left;
}

#works {
    text-align: center;
    max-width: 960px;
    width: 100%;
}

#works ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    padding-left: 0px;
}

#works img {
    width: 250px;
    height: auto;
    text-align: center;
}

#news {
    text-align: center;
    max-width: 960px;
}

#news dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: solid 1px #c8c8c8;
}

#news dt {
    width: 30%;
    padding: 10px 0;
    border-bottom: solid 1px #c8c8c8;
}

#news dd {
    width: 70%;
    padding: 10px 0;
    margin-left: 0;
    text-align: start;
    border-bottom: solid 1px #c8c8c8;
}

#contact {
    max-width: 960px;
    text-align: center;
}

.form-item {
    display: flex;
    margin: 20px auto;
}

.form-item label {
    flex-basis: 120px;
    flex-shrink: 0;
    text-align: left;
}

.form-item input {
    width: 70%;
    height: 43px;
    flex-grow: 1;
    border: 1px solid #c8c8c8;
} 

.form-item textarea {
    width: 70%;
    height: 200px;
    flex-grow: 1;
    border: 1px solid #c8c8c8;
    align-items: flex-start;
}

button {
    text-align: center;
    width: 200px;
    height: 53px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #000;
    border: 1px solid #000;
}

footer {
    text-align: center;
    background-color: #24292e;
    color: #fff;
    font-size: 8px;
    padding: 10px 20px;
}

footer p {
    margin: 0;
}

body {
    margin: 0;
}





@media (max-width: 1024px) {
    .work ul {
        flex-direction: column;
    }

    #mainvisual img {
        max-width: 1024px;
        width: 100%;
        height: auto;
    }

    #header {
        height: auto;
    }

    .about img {
        width: 100%;
    }

    #works img {
        width: 100%;
    }

    .form-item {
        flex-direction: column;
    }

    .form-item label {
        flex-basis: auto;
        margin-bottom: 10px;
    }

    .form-item input,
    .form-item textarea {
        width: 100%;
    }
}





@media screen and (max-width: 768px) {
    #header {
        justify-content: center;
        flex-direction: column;
        height: auto;
        align-items: center;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    #header h1{
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }

    #header ul {
        margin: 0 auto;

    }

    #header a {
        font-size: 12,8px;
    }

    .wrapper {
        margin: 0 auto;
    }

    #works {
        max-width: 100%;
        text-align: center;
    }

    #works img {
        max-width: 100%;

    }

    #news dl {
        flex-direction: column;
        width: 100%;
    }

    #news dt {
        text-align: left;
        padding: 15px 15px 0 15px;
        border-bottom: none;
    }

    #news dd {
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 15px 15px;
    }
}